@media only screen and (max-width: 860px) {
    #cardsCollection{
        gap: 1rem;
        text-align: center;
     
    }
   
}

@media only screen and (max-width: 750px){
    footer h4{
        font-size: 2.8rem;
    }

    .socialsBtn{
        gap:1rem;
        display: flex;
        flex-wrap: wrap;
    }
}